---
import { ContactEmail } from "../emails/contactEmail";
---

<div>Message sent</div>
<ContactEmail
	authorName="Julian"
	authorEmail="juliansv22@gmail.com"
	authorPhone="2396442267"
	projectSelected="chalet"
	messageText="Algun mensaje de la web"
/>
