---
import { Icon } from "astro-icon/components";
---

<section id="build-with-us" class="h-svh flex flex-col">
	<div class="content-center pt-3.5 sm:pt-14 md:px-2">
		<h2
			class="text-[#E89B33] text-3xl font-bold text-center md:text-5xl lg:text-7xl"
		>
			Ventajas de construír con nosotros
		</h2>
	</div>
	<div
		id="cards-container"
		class="grow sm:grid xl:grid-cols-2 xl:grid-rows-2 sm:items-center sm:px-12"
	>
		<div
			class="h-1/4 w-full text-center content-center sm:flex sm:p-4 sm:h-fit"
		>
			<div
				id="box-with-shadow"
				class="w-24 h-12 rounded-2xl flex m-auto md:w-44 md:h-32 lg:w-80 lg:h-32"
			>
				<span class="m-auto">
					<Icon name="mdi-light:clock" class="text-4xl sm:text-8xl" />
				</span>
			</div>
			<div class="py-2 sm:text-left sm:h-fit sm:w-[80%]">
				<h3 class="text-xl font-bold sm:text-4xl sm:px-4">Rapidez</h3>
				<p
					id="paragraph-text"
					class="text-xs px-4 sm:text-lg md:text-xl lg:text-2xl md:pt-2"
				>
					Construimos tu casa modular en aproximadamente 60 días,
					mucho más rápido que una obra tradicional. Así puedes
					disfrutar tu nuevo espacio sin largas esperas ni demoras.
				</p>
			</div>
		</div>
		<div
			class="h-1/4 w-full text-center content-center sm:flex sm:p-4 sm:h-fit"
		>
			<div
				id="box-with-shadow"
				class="w-24 h-12 rounded-2xl flex m-auto md:w-44 md:h-32 lg:w-80 lg:h-32"
			>
				<span class="m-auto">
					<Icon
						name="mdi-light:currency-usd"
						class="text-4xl sm:text-8xl"
					/>
				</span>
			</div>
			<div class="py-2 sm:text-left sm:h-fit sm:w-[80%]">
				<h3 class="text-xl font-bold sm:text-4xl sm:px-4">
					Costo accesible
				</h3>
				<p
					id="paragraph-text"
					class="text-xs px-4 sm:text-lg md:text-xl lg:text-2xl md:pt-2"
				>
					Te ofrecemos una solución eficiente y económica, con precios
					claros desde el inicio y sin sobrecostos ocultos. Obtén la
					mejor relación calidad-precio en tu inversión.
				</p>
			</div>
		</div>
		<div
			class="h-1/4 w-full text-center content-center sm:flex sm:p-4 sm:h-fit"
		>
			<div
				id="box-with-shadow"
				class="w-24 h-12 rounded-2xl flex m-auto md:w-44 md:h-32 lg:w-80 lg:h-32"
			>
				<span class="m-auto">
					<Icon name="mdi-light:truck" class="text-4xl sm:text-8xl" />
				</span>
			</div>
			<div class="py-2 sm:text-left sm:h-fit sm:w-[80%]">
				<h3 class="text-xl font-bold sm:text-4xl sm:px-4">
					Facil transporte
				</h3>
				<p
					id="paragraph-text"
					class="text-xs px-4 sm:text-lg md:text-xl lg:text-2xl md:pt-2"
				>
					Nuestras casas modulares están diseñadas para ser
					trasladadas e instaladas con rapidez y precisión, sin
					complicaciones. Esto nos permite construir en zonas remotas
					o de difícil acceso sin afectar la calidad.
				</p>
			</div>
		</div>
		<div
			class="h-1/4 w-full text-center content-center sm:flex sm:p-4 sm:h-fit"
		>
			<div
				id="box-with-shadow"
				class="w-24 h-12 rounded-2xl flex m-auto md:w-44 md:h-32 lg:w-80 lg:h-32"
			>
				<span class="m-auto">
					<Icon name="eco" class="text-4xl sm:text-8xl" />
				</span>
			</div>
			<div class="py-2 sm:text-left sm:h-fit sm:w-[80%]">
				<h3 class="text-xl font-bold sm:text-4xl sm:px-4">
					Sostenibilidad
				</h3>
				<p
					id="paragraph-text"
					class="text-xs px-4 sm:text-lg md:text-xl lg:text-2xl md:pt-2"
				>
					Construimos con un sistema que reduce residuos y optimiza
					materiales, minimizando el impacto en el entorno. Además,
					puedes incorporar soluciones eco-friendly como paneles
					solares.
				</p>
			</div>
		</div>
	</div>
</section>

<style>
	#box-with-shadow {
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 50%);
	}

	/* @media screen and (min-width: 400px) and (max-width: 640px) {
		#paragraph-text {
			font-size: 1rem;
		}
	} */

	@media screen and (min-width: 1230px) and (max-width: 1440px) {
		h2 {
			font-size: 3rem;
		}

		#cards-container {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}

		#box-with-shadow {
			width: 10rem;
			height: 6rem;
		}

		h3 {
			font-size: 1.5rem;
		}

		#paragraph-text {
			font-size: 1rem;
		}
	}
</style>
