---
import { ContactForm, contactFormValidator } from "./_ContactForm";
---

<section id="contact-us" class="h-svh content-center">
	<div
		id="form-container"
		class="px-4 py-4 flex flex-col gap-4 md:h-full md:justify-center md:gap-2 lg:px-2 lg:py-0"
	>
		<ContactForm client:load />
	</div>
</section>

<style>
	@media screen and (min-width: 1230px) and (max-width: 1440px) {
		h3 {
			font-size: 3rem;
			padding-top: 0;
			height: 5rem;
		}

		#form-container {
			gap: 0rem;
		}

		#contact-form {
			gap: 0.5rem;
		}

		label {
			font-size: 1.5rem;
		}

		input {
			height: calc(var(--spacing) * 10);
			padding: 0.5rem;
			font-size: 1rem;
		}

		select {
			height: calc(var(--spacing) * 10);
			font-size: 1rem;
			padding: 0.5rem;
		}

		textarea {
			height: calc(var(--spacing) * 40);
			padding: 0.5rem;
			font-size: 1rem;
		}

		button {
			height: calc(var(--spacing) * 10);
			font-size: 1rem;
		}
	}
</style>
