---
import { Icon } from "astro-icon/components";
import logoACG from "../assets/logo-ACG.png";
import logoKonstruct from "../assets/logo-konstruct.png";
---

<section
	id="container"
	class="bg-[#DAC0A3] p-10 text-center flex flex-col gap-4"
>
	<h3 class="text-2xl font-bold lg:text-3xl">CONSTRUYEN</h3>
	<div class="flex justify-center">
		<img src={logoACG.src} alt="logoACG" class="w-30 md:w-48 lg:w-56" />
		<span class="content-center font-bold text-3xl">&</span>
		<img
			src={logoKonstruct.src}
			alt="logoKonstruct"
			class="w-40 md:w-64 lg:w-72"
		/>
	</div>
	<div class="flex flex-col items-center md:text-xl lg:text-2xl lg:gap-1">
		<span>konstruct.soluciones@gmail.com</span>
		<span>(+57) 324 4270277</span>
		<a
			href="https://www.instagram.com/konstruct.col/"
			class="flex items-center gap-2"
		>
			<Icon name="instagram" /><span>konstruct.col</span>
		</a>
		<a
			href="https://www.facebook.com/profile.php?id=61574504593921"
			class="flex items-center gap-2"
		>
			<Icon name="facebook" /><span>konstruct</span>
		</a>
	</div>
</section>
