---
import renderTipoS from "../assets/render-mod-tipo-s.png";
import renderTipoM from "../assets/render-mod-tipo-m.png";
import renderChalet from "../assets/render-chalet.png";
import HousesCarousel from "./HousesCarousel";

const houses = [
	{
		id: 1,
		title: "MÓDULO TIPO S",
		subtitle: "40m²",
		color: "#E89B33",
		image: renderTipoS,
		alt: "render-tipo-s"
	},
	{
		id: 2,
		title: "CHALET",
		subtitle: "Tipo S 56m²",
		subtitle2: "Tipo M 74m²",
		color: "#6B8E23",
		image: renderChalet,
		alt: "render-chalet"
	},
	{
		id: 3,
		title: "MÓDULO TIPO M",
		subtitle: "80m²",
		color: "#355070",
		image: renderTipoM,
		alt: "render-tipo-m"
	}
];
---

<section id="houses" class="w-full">
	<HousesCarousel houses={houses} client:load />
</section>
