---
import background from "../assets/background-image-2.png";
---

<section id="container" class="h-svh lg:flex">
	<div
		class="w-full h-full bg-black -z-10 absolute lg:relative lg:z-0 lg:w-1/2"
	>
		<img
			src={background.src}
			alt="Casas modulares"
			class="w-full h-full object-cover opacity-60"
		/>
	</div>
	<div class="flex h-full p-4 lg:w-1/2">
		<div class="flex flex-col items-center justify-around">
			<div
				class="flex flex-col h-52 justify-around md:grow md:justify-center"
			>
				<h3
					class="text-4xl text-center text-[#F5F5F5] md:text-[#6B8E23] font-bold md:text-8xl md:px-10 lg:text-7xl"
				>
					Así de fácil es tener tu casa modular
				</h3>
			</div>
			<div
				class="flex flex-col text-center gap-2 grow justify-around md:h-[70svh] md:justify-around md:pb-10 md:w-full md:items-center lg:w-full lg:pb-0"
			>
				<div
					class="flex flex-col items-center md:w-[80%] md:px-10 lg:w-full lg:flex-col lg:items-start lg:text-left lg:text-2xl"
				>
					<h4 class="font-bold text-white md:text-black">
						1. Cuéntanos tu proyecto
					</h4>
					<p
						class="text-[#F5F5F5] text-sm md:text-3xl md:grow lg:text-black lg:w-full lg:text-2xl"
					>
						Nos contactas y nos compartes tu idea. Te asesoramos
						para encontrar la mejor solución según tu terreno,
						necesidades y presupuesto.
					</p>
				</div>
				<div
					class="flex flex-col items-center md:w-[80%] md:px-10 lg:w-full lg:flex-col lg:items-start lg:text-left lg:text-2xl"
				>
					<h4 class="font-bold text-white md:text-black">
						2. Diseñamos tu espacio ideal
					</h4>
					<p
						class="text-[#F5F5F5] text-sm md:text-3xl md:grow lg:text-black lg:w-full lg:text-2xl"
					>
						Adaptamos el diseño a tu estilo de vida y preferencias.
						Te mostramos opciones personalizadas para que elijas la
						mejor distribución y acabados.
					</p>
				</div>
				<div
					class="flex flex-col items-center md:w-[80%] md:px-10 lg:w-full lg:flex-col lg:items-start lg:text-left lg:text-2xl"
				>
					<h4 class="font-bold text-white md:text-black">
						3. Construimos con rapidez y calidad
					</h4>
					<p
						class="text-[#F5F5F5] text-sm md:text-3xl md:grow lg:text-black lg:w-full lg:text-2xl"
					>
						Fabricamos tu casa modular con materiales de alta
						calidad y tecnología eficiente, reduciendo tiempos y
						garantizando un proceso sin complicaciones.
					</p>
				</div>
				<div
					class="flex flex-col items-center md:w-[80%] md:px-10 lg:w-full lg:flex-col lg:items-start lg:text-left lg:text-2xl"
				>
					<h4 class="font-bold text-white md:text-black">
						4. Te entregamos tu casa lista para disfrutar
					</h4>
					<p
						class="text-[#F5F5F5] text-sm md:text-3xl md:grow lg:text-black lg:w-full lg:text-2xl"
					>
						Cumplimos con nuestra promesa de entrega para que en
						poco tiempo puedas comenzar a vivir o rentar tu nueva
						propiedad sin demoras.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
